@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  max-width: 90rem;
/* margin-left: 2rem;
margin-right: 2rem; */
background: #F0F5FA;
font-family: "Helvetica Neue";
}

img {
  width: 12rem;
  height: 7rem;
}

p{ font-size: 14px 

}

